<%%= render 'backend/shared/site_map' %>
<%%= link_to '+新增TODO', new_backend_<%= singular_table_name %>_path, class: 'btn btn-default advanced_top' %>
<%%= render 'backend/shared/advanced_query', :locals => { :path =>backend_<%= file_name %>_path } %>

<div class="table_style">
<table class="table">
  <thead>
    <tr>
      <th>TODO</th>
      <th>TODO</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= file_name %>.each do |t| %>
      <tr>
        <td><%%= t.TODO %></td>
        <td><%%= t.TODO %></td>
        <td>
          <%%= link_to '编辑', edit_backend_<%= singular_table_name %>_path(t), class: 'edit'  %>
          <%%= link_to '删除', backend_<%= singular_table_name %>_path(t.id), method: :delete, data: { confirm: '确定删除吗?' }, class: 'edit'  %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
</div>

<nav aria-label="Page navigation" class="pagination_style">
<%%= paginate @<%= file_name %> %>
</div>