<%= render 'backend/shared/site_map' %>
<%= form_for([:backend, @group], html:{ class: 'form-horizontal edit_style' } )  do |f|%>

<%= render 'backend/shared/error', :locals => { :obj => @group } %>

<%= bootstrap_text_field f, :group_name, '品牌', '请输入品牌' %>
<%= bootstrap_text_field f, :memo, '备注', '请输入备注' %>

<div class="form-group">
    <div class="col-sm-10 edit_button_style">
      <%= f.button '提交' , class: 'btn btn-default' %>
      <%= link_to '返回', backend_groups_path, class: 'btn btn-default' %>
    </div>
</div>

<%= bootstrap_commit_back_button(f, backend_groups_path) %>

<% end %>