<%= render 'backend/shared/site_map' %>
<%= link_to '+新增接口返回参数', new_backend_interface_interface_response_path + append_param(params[:group_id]), class: 'btn btn-default advanced_top' %>
<%= render 'backend/shared/advanced_query', :locals => { :path =>backend_interface_interface_responses_path } %>

<div class="table_style">
<table class="table">
  <thead>
    <tr>
      <th>参数名称</th>
      <th>参数类型</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @interface_responses.each do |t| %>
      <tr>
        <td><%= t.response_name %></td>
        <td><%= t.response_type %></td>
        <td><%= find_status(t.status) %></td>
        <td>
          <%= link_to '编辑', edit_backend_interface_interface_response_path(params[:interface_id], t) + append_param(params[:group_id]), class: 'edit'  %>
          <%= link_to '删除', backend_interface_interface_response_path(params[:interface_id],t.id) + append_param(params[:group_id]), method: :delete, data: { confirm: '确定删除吗?' }, class: 'edit'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<nav aria-label="Page navigation" class="pagination_style">
<%= paginate @interface_responses %>
</div>