<!DOCTYPE html>
<html>
  <head>
    <title>API文档在线管理系统</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript'>
      window.urls = {
        groups_json: '/backend/groups.json',        
        groups_members: '<%= backend_groups_members_path %>',
        home_index: '<%= root_path %>',
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= render "common/backend_menu" %>
      <%= render "common/backend_body" %>
    </div>
    <%= render "common/footer" %>
  </body>
</html>